**.pyc
**.db
**.DS_Store
**.bin
**.log
.idea/*
**.ipynb_checkpoints
**-checkpoint.ipynb
tutorials/data/TECHospital.csv
datasets/*
tutorials/data/large_data/
tutorials/data/nypd/
tutorials/data/chicago_taxi/
